*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../Images/diwali.jpg');
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}