@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Abel", sans-serif;
    font-family: "Bubblegum Sans", sans-serif;
    font-family: "Cedarville Cursive", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Jost", sans-serif;
    font-family: "Lora", serif;
    font-family: "Pacifico", cursive;
    font-family: "Playfair Display", serif;
    font-family: "Poppins", sans-serif;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    font-family: "Seaweed Script", cursive;
    font-family: "Signika Negative", sans-serif;
    background-image: linear-gradient(rgb(185, 71, 90),rgba(218, 151, 26, 0.829),rgba(235, 231, 231, 0.842));
}
.container{
    height: 100vh;
    width: 100%;
    /* border: solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem 1.5rem; 
    align-items: center;
}
.greeting{
    /* border: solid  green; */
    box-shadow: -5px 5px 15px  black;
    background-color: rgb(218, 207, 207);
    width:fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,500px));
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0rem; */
    animation: diwali3 10s linear forwards;
}
@keyframes diwali3 {
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        rotate:360deg;
    }
}
.box{
    /* border: solid blue; */
    /* border-top-right-radius:250px;
    border-bottom-right-radius:250px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../Images/diwali.jpg");
    background-position: center;
    /* height: 100%; */
    background-size: cover;
    letter-spacing:1.5px;
    height: 100%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    align-items: center;
    padding:5rem;
    width: 100%;
}
.box p{
    font-family: "Playfair Display", serif;
    font-size:1rem;
    font-weight: bold;
    color: white;
}
.box h1{
    color: red;
    text-shadow: -2px -2px 5px rgba(143, 117, 4, 0.712);
    font-size:3.5rem;
    padding: 1rem;
animation: diwali 10s 8s linear infinite;
}
@keyframes diwali {
    0%{
        opacity:0.5;
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid  red; */
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.icon a{
    font-size: 2rem;
    color: white;
}
.box h2{
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
    font-size:1rem;
    color: white;
}
.box h2 span{
    color: rgb(228, 21, 55);
}
.box h3{
    color:rgb(216, 8, 43);
    font-size: 1.5rem;
    padding: 1rem;

}
audio {
    position: absolute;
    /* width: 100%; */
    margin-top: 20px;
    /* border: 2px solid white; */
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  audio::-webkit-media-controls-panel {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
.box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../Images/Untitled\ Project\ \(6\).jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
     justify-content: center;
     gap:1rem;
     flex-wrap: wrap;
     align-items: center;
     padding:5rem;
     width: 100%;
}
.box2 h3{
    color: rgb(228, 21, 55);

}
.box2 h1{
    text-align: center;
    color:rgb(241, 241, 241);
    animation: diwali2 10s 11s linear forwards;
}
@keyframes diwali2 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
        transform: scale(0.3);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    75%{
        opacity: 0.7;
        transform: scale(0.7);
    }
    100%{
        opacity:1;
        transform: scale(1.0);
    }
}
.box2 p{
    color: wheat;
    font-size: 1.1rem;
}
/* Media */
@media(max-width:500px){
    .greeting{
        display: flex;
        flex-wrap: wrap;
    }
    .icon{
        flex-direction: column;
    }
}